.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 8rem 0;
    background-color: var(--dm-color-primary);
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h1 {
    font-size: 3rem;
    margin-bottom: 0;
    color: var(--dm-color-white-1);
}
.p {
    font-size: 2rem;
}
.p span {
    color: var(--dm-color-white-1);
}
.button {
    width: 40%;
    padding: 15px;
    background-color: var(--dm-color-white-1);
    color: var(--dm-color-primary-1);
    border: 1px;
    border-radius: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover {
    cursor: pointer;
}
button .span {
    margin-left: 10px;
}
.div {
    width: 40%;
}
.ul {
    display: flex;
    flex-direction: revert;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin-top: 2rem;
}
.ul li {
    width: 45px;
    height: 45px;
    background: var(--dm-color-light);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.icon {
    font-size: 20px;
    color: var(--dm-color-primary-1);
    transition: color 0.2s ease-in-out;
}
.icon:hover {
    color: var(--dm-color-primary);
}