.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 8rem 0;
    background-color: var(--v2-bg-primary);
    position: relative;
}
.home:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0.02) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
    background-size: 25px 25px;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h1 {
    font-size: 3rem;
    margin-bottom: 0;
    color: var(--v2-bg-sixth);
}
.p {
    font-size: 2rem;
}
.p span {
    color: var(--color-light);
}
.div {
    width: 40%;
}
.ul {
    display: flex;
    flex-direction: revert;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin-top: 5rem;
}
.ul li {
    width: 45px;
    height: 45px;
    background: var(--v2-bg-quarter);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}
.icon {
    font-size: 20px;
    color: var(--color-light);
    transition: color 0.2s ease-in-out;
}
.ul li:hover {
    color: var(--dm-color-tertiary);
    background-color: var(--emphasi-1);
}